@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}
:root {
  --bg-color: #191f36;
  --snd-bf-color: #262840;
  --text-color: #ffffff;
  --main-color: #5982f4;
}
.btn {
  color: var(--text-color);
  background-color: var(--main-color);
  cursor: pointer;
  font-weight: 700;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 700;
}
.nav .bars {
  display: none;
  font-size: 3.6rem;
}
.nav .menu {
  display: flex;
  list-style: none;
}
.menu li {
  display: inline-block;
  padding: 2rem;
  color: var(--text-color);
  position: relative;
}
.menu li .submenu {
  display: none;
}
/* .menu li:hover .submenu {
  display: block;
  position: absolute;
  top: 5rem;
  left: 2rem;
} */
.submenudisplay {
  display: block !important;
  display: block;
  position: absolute;
  top: 5rem;
  left: 2rem;
}
.menu li .submenu li {
  padding: 0;
}
.menu li .submenu li a {
  display: inline-block;
  padding: 1rem 0 0.5rem;
}
#portfolio {
  cursor: pointer;
}
.menu li a {
  transition: all 0.5s ease;
  color: var(--text-color);
}
.menu li a.active,
.menu li a:hover {
  color: var(--main-color);
  text-shadow: 0px 0px 4px var(--main-color);
  text-shadow: 0px 0px 8px var(--main-color);
}
.nav .search {
  margin-left: 3rem;
  display: none;
  align-items: center;
}
.search input {
  width: 230px;
  padding: 0.8rem;
  font-size: 1.5rem;
  border-radius: 3px 0 0 3px;
}
.search .btn-search {
  padding: 0.8rem;
  font-size: 1.5rem;
  border-radius: 0 3px 3px 0;
}

/* section */
section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

/* home section */
section.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home-content h3 span {
  color: var(--main-color);
}
.home-content h2 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.pro-img img {
  width: 25vw;
  animation: floatImg 4s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 5px var(--main-color);
  box-shadow: 0px 0px 20px 10px var(--main-color);
}
@keyframes floatImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-content p {
  font-size: 1.6rem;
  padding-right: 1rem;
}
.socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  background-color: transparent;
  color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: all 0.3s ease;
}
.socials a:hover {
  background: var(--main-color);
  color: var(--snd-bf-color);
  box-shadow: 0px 0px 4px 1px var(--main-color);
  box-shadow: 0px 0px 8px 2px var(--main-color);
}
/* about section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--snd-bf-color);
}
.about-img img {
  width: 35vw;
  border: 5px solid var(--main-color);
  border-radius: 50px;
}
.heading {
  font-size: 5.6rem;
  text-align: center;
}
.about-content h2 {
  text-align: left;
}
.about-content h2 span {
  color: var(--main-color);
}
.about-content h3 {
  font-size: 2rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.about-content a {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
}
.about-content a:hover {
  color: var(--main-color);
  background-color: var(--text-color);
  box-shadow: 0px 0px 4px 1px var(--main-color);
  box-shadow: 0px 0px 8px 2px var(--main-color);
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.service {
  width: 50%;
  background: var(--snd-bf-color);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 4px 1px var(--main-color);
  box-shadow: 0px 0px 8px 2px var(--main-color);
}
.main-services .service-box:nth-of-type(1) {
  margin-bottom: 3rem;
}
.main-services .service-box h3,
.main-services .service-box i {
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 0.8rem;
}
.main-services .service-box p {
  font-size: 1.6rem;
  text-align: left;
}

.main-services .service-box a {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 2rem;
  transition: all 0.3s ease;
}
.main-services .service-box a:hover {
  box-shadow: 0px 0px 4px 1px var(--main-color);
  box-shadow: 0px 0px 8px 2px var(--main-color);
}
/* projects */
.projects {
  background-color: var(--snd-bf-color);
}
.projects .sect-heading {
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 4rem;
}
.projects .sect-heading span {
  color: var(--main-color);
}
.pro-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.pro-box {
  position: relative;
  transition: all 0.3s ease;
  /* box-shadow: 0px 0px 4px 1px var(--main-color);
  box-shadow: 0px 0px 8px 2px var(--main-color);
  background: var(--bg-color); */
  border-radius: 5px;
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
}

.pro-box img {
  width: 100%;
  border-radius: 5px;
  opacity: 0.7;
  transition: all 0.5s ease;
}
.pro-box img:hover {
  transform: scale(1.1);
}
.pro-box .pro-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  transition: all 0.5s ease;
}
.pro-box:hover .pro-layer {
  transform: translateY(0);
}
.pro-box .pro-layer h4 {
  font-size: 2.5rem;
  font-weight: 700;
}
.pro-box .pro-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.pro-box .pro-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.pro-box:hover a i {
  font-size: 2rem;
}

.contact h2 {
  margin-bottom: 3rem;

}

